body { 
    margin-top:1%;
    margin-bottom:1%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.6em;
    background-image:url('../images/background.jpg');
    background-repeat:repeat;
    background-position:center;
    background-attachment:fixed;
}

#global{
    margin-top: -11px;
    width: 800px;
    background-color:rgba(255, 255, 255, 0.7);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

#globalNewDemande{
    width: 80%;
    margin-top: 10px;
    padding: 20px;
    border-style: none;
    box-shadow: 0 0 10px #777;
    -webkit-border-radius: 10px;
    border-radius: 4px;
    background-image:linear-gradient(rgba(255,255,255,1), rgba(241,241,241,1));
}

header{
    position:absolute;
    width: 100%;
    top:0;
    padding: 0;
    height: 120px;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 1px black;
    background-image:linear-gradient(#1C4501, #2B7013);
    color: white;
}

#titreEntete{
    display: block;
    float: left;
    height: 100%;
    padding-left: 20px;
    padding-top: 8px;
    font-size: 3em;
    font-family: system-ui;
}

#logoEntete{
    padding-top: 8px;
    padding-right: 8px;
    display: block;
    float: right;
}

span.deconnexion{
    float:right;
    margin-right:50px;
    margin-top:-44px;
}

section{
    min-height: 490px;
    padding-top: 150px;
    padding-bottom: 20px;
}

input{
    width: 200px;
}

select{
    width: 200px;
}

.inherit{
    width: inherit;
}

.sectionMarge{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
}

.formsDemandeContrat{
    /*font-size: 12px;*/
}

#footer{
    height:60px;
    width: 100%;
    bottom:0;
    color: white;
    font-size: 12px;
    border-top: solid 1px black;
    background-image:linear-gradient(#2B7013, #1C4501);
    border-radius: 0 0 10px 10px;
}

#footerLeft{
    float: left;
    display: block;
    margin-top: 3%;
    padding-left: 20px;
}

#footerRight{
    display: block;
    float: right;
    margin-top: 3%;
    padding-right: 20px;
}

label{
    float: left;
    width: 150px;
    padding-right: 10px;
}

fieldset{
    width: 320px;
    padding: 30px;
    border-style: none;
    box-shadow: 0 0 10px #777;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image:linear-gradient(rgba(255,255,255,1), rgba(241,241,241,1));
}

.centrerElem{
    position: relative;
    margin: auto;
}

button{
    display: block;
    margin : auto;
}

a.lienAccueil{
    color: #fff;
    font-size: 0.7em;
    text-decoration: none;
}

a.lienAccueil:hover{
    color: #3bafda;
}

.breadcrumb-arrow {
    width: 90%;
    height: 36px;
    position: relative;
    margin: auto;
    padding: 0;
    line-height: 36px;
    list-style: none;
    font-size: 1.5em;
    text-align: center;
}

.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top;
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px;
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: "";
}
.breadcrumb-arrow li span {
    padding: 0 10px;
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px;
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px;
}
.breadcrumb-arrow li a {
    position: relative;
    width: 137px;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda;
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px;
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}

.breadcrumb-arrow li a:before {
    right: -11px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px;
}

.breadcrumb-arrow li a:after {
    right: -12px;
    z-index: 2;
    border-left: 11px solid #2494be;
}

.breadcrumb-arrow li a.disabled:before{
    border-left-color: #89CFE9;
}

.breadcrumb-arrow li a.disabled{
    pointer-events:none; /*This makes it not clickable*/
    background-color: #89CFE9;
}

/* CSS pour les tableaux de Temps Travail */

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#ccc;
}

.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 6px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#fff;
}

.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 6px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#f0f0f0;
}

.tg .tg-24vz{
    font-weight:bold;
    font-size:10px;
    font-family:Verdana, Geneva, sans-serif !important;;
    text-align:center
}

.tg .tg-uegx{
    font-weight:bold;
    font-size:12px;
    font-family:Verdana, Geneva, sans-serif !important;;
    text-align:center
}

.tg .tg-3rb4{
    font-weight:bold;
    font-size:11px;
    font-family:Verdana, Geneva, sans-serif !important;;
    text-align:center
}

.tg .tg-9wvm{
    font-size:10px;
    font-family:Verdana, Geneva, sans-serif !important;;
    text-align:center
}

.tg .tg-hnao{
    font-size:12px;
    font-family:Verdana, Geneva, sans-serif !important;;
    text-align:center
}

input[type="time"] {
    width: inherit;
}