body { 
    margin-top:1%;
    margin-bottom:1%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.6em;
    background-image:url('../images/background.jpg');
    background-repeat:repeat;
    background-position:center;
    background-attachment:fixed;
}

table{
    border-collapse: collapse;
}

table.tr,td,th{
    border: none;
    padding: 7px;
}

#global{
    position: relative;
    margin: 0 auto;
    width: 800px;
    min-height: 97%;
    background-color:rgba(255, 255, 255, 0.7);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

header{
    position:absolute;
    width: 100%;
    top:0;
    padding: 0;
    height: 120px;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 1px grey;
    background-image:linear-gradient(#1C4501, #2B7013);
    color: white;
}

#titreEntete{
    display: block;
    float: left;
    height: 100%;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 3em;
    font-family: system-ui;
}

#logoEntete{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    display: block;
    float: right;
}

span.deconnexion{
    float:right;
    margin-right:50px;
    margin-top:-44px;
}

#footer{
    height:8%;
    width: 100%;
    position:absolute;
    bottom:0;
    color: white;
    border-top: solid 1px grey;
    background-image:linear-gradient(#2B7013, #1C4501);
    border-radius: 0 0 10px 10px;
    font-size:0.9em;
}

#footerLeft{
    float: left;
    display: block;
    margin-top: 3%;
    padding-left: 2%;
}

#footerRight{
    display: block;
    float: right;
    margin-top: 3%;
    padding-right: 2%;
}

section{
    width: 100%;
    position: absolute;
    margin-top: 120px;
    padding: 20px;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5px;
}

nav{
    float: left;
    width: 300px;
    float:left;
    text-align: left;
    margin-top:20px;
}

nav ul{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

nav li{
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 5px;
}

li{
    padding-left: 0px;
    list-style-type: none;
}

nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 2px;
    text-decoration: none;
}

nav a:hover{
    color: #4BB5C1;

}

form {
    overflow: hidden;
    clear: both;
}
label{
    clear: left;
    float: left;
    width: 100px;
    padding-right: 2%;
    height: 1em;
    margin-bottom: 10px;
}
select{
    float: left;	
    margin-bottom: 15px;
}


/*bordure des champs de connection*/
fieldset{
    width: 40%;
    position: absolute;
    margin: auto;
    padding: 20px;
    border-style: none;
    box-shadow: 0 0 10px #777;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image:linear-gradient(rgba(255,255,255,1), rgba(241,241,241,1));
}

a.lienAccueil{
    color: #fff;
    font-size: 0.7em;
    text-decoration: none;
}

a.lienAccueil:hover{
    color: #3bafda;
}

.breadcrumb-arrow {
    width: 80%;
    height: 36px;
    position: relative;
    margin: auto;
    padding: 0;
    line-height: 36px;
    list-style: none;
    font-size: 1.6em;
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top;
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px;
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: "";
}
.breadcrumb-arrow li span {
    padding: 0 10px;
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px;
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px;
}
.breadcrumb-arrow li a {
    position: relative;
    width: 120px;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda;
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px;
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be;
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #fff;
    color: #FF6600;
    border: 1px solid #4fc1e9;
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before, .breadcrumb-arrow li a.active:before {
    border-left-color: #fff;
}
.breadcrumb-arrow li a.active{
    background-color: #fff;
    color: #FF6600;
    border: 1px solid #4fc1e9;
}