body { 
    margin-top:1%;
    margin-bottom:1%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.6em;
    background-image:url('../images/background.jpg');
    background-repeat:repeat;
    background-position:center;
    background-attachment:fixed;
}

#global{
    width: 800px;
    /*min-height: 97%;*/
    min-height: 710px; /*Mozilla*/
    background-color:rgba(255, 255, 255, 0.7);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

#globalNewDemande{
    width: 72%;
    margin-top: 10px;
    padding: 20px;
    border-style: none;
    box-shadow: 0 0 10px #777;
    -webkit-border-radius: 10px;
    border-radius: 4px;
    background-image:linear-gradient(rgba(255,255,255,1), rgba(241,241,241,1));
}

header{
    position:absolute;
    width: 100%;
    top:0;
    padding: 0;
    height: 120px;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 1px black;
    background-image:linear-gradient(#1C4501, #2B7013);
    color: white;
}

#titreEntete{
    display: block;
    float: left;
    height: 100%;
    padding-left: 20px;
    padding-top: 8px;
    font-size: 3em;
    font-family: system-ui;
}

#logoEntete{
    padding-top: 8px;
    padding-right: 8px;
    display: block;
    float: right;
}

span.deconnexion{
    float:right;
    margin-right:50px;
    margin-top:-44px;
}

section{
    width: 100%;
    position: absolute;
    margin-top: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sectionMarge{
    padding-right: 20px;
    padding-left: 20px;
}

.formsDemandeContrat{
    width: 68%;
    position: relative;
    margin : auto;
    font-size: 14px;
}

#footer{
    height:8%;
    width: 100%;
    position:absolute;
    bottom:0;
    color: white;
    border-top: solid 1px black;
    background-image:linear-gradient(#2B7013, #1C4501);
    border-radius: 0 0 10px 10px;
    font-size:0.9em;
}

#footerLeft{
    float: left;
    display: block;
    margin-top: 3%;
    padding-left: 20px;
}

#footerRight{
    display: block;
    float: right;
    margin-top: 3%;
    padding-right: 20px;
}

label{
    float: left;
    width: 150px;
    padding-right: 20px;
}

fieldset{
    width: 300px;
    padding: 30px;
    border-style: none;
    box-shadow: 0 0 10px #777;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image:linear-gradient(rgba(255,255,255,1), rgba(241,241,241,1));
}

.centrerElem{
    position: relative;
    margin: auto;
}

button{
   display: block;
   margin : auto;
}

a.lienAccueil{
    color: #fff;
    font-size: 0.7em;
    text-decoration: none;
}

a.lienAccueil:hover{
    color: #3bafda;
}

.breadcrumb-arrow {
    width: 77%;
    height: 36px;
    position: relative;
    margin: auto;
    padding: 0;
    line-height: 36px;
    list-style: none;
    font-size: 1.5em;
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top;
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px;
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: "";
}
.breadcrumb-arrow li span {
    padding: 0 10px;
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px;
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px;
}
.breadcrumb-arrow li a {
    position: relative;
    width: 120px;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda;
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px;
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}

.breadcrumb-arrow li a:before {
    right: -11px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px;
}

.breadcrumb-arrow li a:after {
    right: -12px;
    z-index: 2;
    border-left: 11px solid #2494be;
}

.breadcrumb-arrow li a.disabled:before{
    border-left-color: #89CFE9;
}

.breadcrumb-arrow li a.disabled{
    pointer-events:none; /*This makes it not clickable*/
    background-color: #89CFE9;
}